* {
  margin: 0;
  padding: 0;
  place-items: center;
}

.index {
  background-image: url(assets/ms-homepage-desktop.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.configure {
  background-image: white;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 30px;
  margin-right: 30px;
}

.main-nav li {
  display: inline-block;
}

.main-nav li a {
  color: rgb(54, 51, 62);
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.main-nav li.active a {
  border: solid rgb(54, 51, 62) 1px;
}

.logo img {
  width: 150px;
  height: auto;
  float: left;
  padding-left: 20px;
  padding-top: 20px;
}

.row {
  max-width: 1200px;
  margin: auto;
}

body {
  font-family: Roboto;
}

.hero {
  position: fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero h1 {
  color: white;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.button {
  margin-top: 20px;
  margin-left: 70px;
}

.btn {
  padding: 10px 30px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  text-decoration: none;
  border-radius: 25px;
}

.btn-one {
  color: rgb(54, 51, 62);
  background-color: rgba(236, 235, 238, 255);
}

.btn-two {
  color: rgba(236, 235, 238, 255);
  background-color: rgb(54, 51, 62);
}

/* Configure Puslapio Dalis */

.select {
  width: 300px;
  height: 600px;
  /*border-style: dashed;*/
  position: fixed;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.selectimage img {
  width: 800px;
  height: auto;
  float: left;
  position: fixed;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.select h1 {
  color: black;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.select p {
  margin-top: 50px;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.butblack {
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 60px;
}
.butblack:focus{
  border-style:solid;
  border:4px solid #3e6ae1;
}

.butblue {
  background-color: darkblue;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 120px;
}
.butblue:focus{
  border-style:solid;
  border:4px solid #3e6ae1;
}

.butred {
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 180px;
}
.butred:focus{
  border-style:solid;
  border:4px solid #3e6ae1;
}

.butsilver {
  background-color: silver;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 240px;
}
.butsilver:focus{
  border-style:solid;
  border:4px solid #3e6ae1;
}

.butwhite {
  background-color: whitesmoke;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 300px;
}
.butwhite:focus{
  border-style:solid;
  border:4px solid #3e6ae1;
}
.spalvaText{
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.spalvaText h1{
  font-size:20px;
  text-transform:none;
}