* {
  margin: 0;
  padding: 0;
  place-items: center;
}

.index {
  background-image: url(assets/ms-homepage-desktop.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.configure {
  background-image: white;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 30px;
  margin-right: 30px;
}

.main-nav li {
  display: inline-block;
}

.main-nav li a {
  color: rgb(54, 51, 62);
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.main-nav li.active a {
  border-radius: 25px;
  border: solid rgb(54, 51, 62) 1px;

}

.logo img {
  width: 150px;
  height: auto;
  float: left;
  padding-left: 20px;
  padding-top: 20px;
}

.row {
  max-width: 1200px;
  margin: auto;
}

body {
  font-family: Roboto;
}

.bottomtext {
  width: 500px;
  height: 500px;
  /* border-style: dashed; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottomtext h1 {
  color: white;
  text-transform: uppercase;
  font-size: 80px;
  text-align: center;
  font-family: "Roboto", sans-serif;

  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottomtext1{
  padding: 10px 30px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  text-decoration: none;
  border-radius: 25px;
  color: rgb(54, 51, 62);
  background-color: rgba(236, 235, 238, 255);

  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottomtext2{
  padding: 10px 30px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  text-decoration: none;
  border-radius: 25px;
  color: rgba(236, 235, 238, 255);
  background-color: rgb(54, 51, 62);

  position: fixed;
  top: 111%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  padding: 10px 30px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  text-decoration: none;
  border-radius: 25px;
}

.btn-one {
  color: rgb(54, 51, 62);
  background-color: rgba(236, 235, 238, 255);
}

/* Configure color Puslapio Dalis */

.select {

  width: 300px;
  height: 600px;
  /* border-style: dashed; */
  position: fixed;
  top: 55%;
  left: 85%;
  transform: translate(-50%, -50%);
  /* fade in effect */
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}




.selectTitle {
  width: 300px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
}
.selectTitle h1 {
  color: black;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.selectimage img {
  width: 800px;
  height: auto;
  float: left;
  position: fixed;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.select h1 {
  color: black;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.select p {
  margin-top: 50px;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.butblack {
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 60px;
}
.butblack:focus{
  border-style:solid;
  border:4px solid #3e6ae1;
}

.butblue {
  background-color: darkblue;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 120px;
}
.butblue:focus{
  border-style:solid;
  border:4px solid #3e6ae1;
}

.butred {
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 180px;
}
.butred:focus{
  border-style:solid;
  border:4px solid #3e6ae1;
}

.butsilver {
  background-color: silver;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 240px;
}
.butsilver:focus{
  border-style:solid;
  border:4px solid #3e6ae1;
}

.butwhite {
  background-color: whitesmoke;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 300px;
}
.butwhite:focus{
  border-style:solid;
  border:4px solid #3e6ae1;
}
.spalvaText{
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}
.spalvaText h1{
  font-size:20px;
  text-transform:none;
}

.spalvaText a {
  margin-top: 25px;
}


/* Configure wheels Puslapio Dalis */

.configurewheels {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.configurewheels img {
  width: 55px;
  height: 55px;
  padding: 8px;
  /* border-style: dashed; */
} 

.configurewheels a {
  color: transparent;
}

.configurewheels h1 {
  
  font-size:20px;
  text-transform:none;
}

.rataiText{
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rataiText h1 {
  font-size:20px;
  text-transform:none;
  padding-bottom: 30px;
}

/* INTERIOR */

.intbutblack {
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 60px;
}
.intbutblack:focus{
  border-style:solid;
  border:4px solid #3e6ae1;
}

.intbutwhite {
  background-color: whitesmoke;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 120px;
}
.intbutwhite:focus{
  border-style:solid;
  border:4px solid #3e6ae1;
}

.intbutwallnut {
  background-color: wheat;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 180px;
}
.intbutwallnut:focus{
  border-style:solid;
  border:4px solid #3e6ae1;
}

.selectimagea img {
  width: 1000px;
  height: auto;
  float: left;
  position:fixed;
  top: 55%;
  left: 40%;
  transform: translate(-50%, -50%);
  /* border-style: dashed; */
  border-radius: 10%;
  
}

/* COMFORT */



.selectTitle1 {
  width: 300px;
  height: 600px;
  position: fixed;
  top: 45%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.selectTitle1 h1 {
  color: black;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.select1 p {
  margin-top: 50px;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.select2 p {
  margin-top: 50px;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}


.select1 {

  width: 300px;
  height: 600px;
  /* border-style: dashed; */
  position: fixed;
  top: 55%;
  left: 85%;
  transform: translate(-50%, -50%);
  /* fade in effect */
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.select2 {

  width: 300px;
  height: 600px;
  /* border-style: dashed; */
  position: fixed;
  top: 55%;
  left: 65%;
  transform: translate(-50%, -50%);
  /* fade in effect */
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}



.comfort1 {
  padding: 10px 30px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  text-decoration: none;
  border-radius: 25px;
  color: rgba(236, 235, 238, 255);
  background-color: #3e6ae1;

  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comfort2 {
  padding: 10px 30px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  text-decoration: none;
  border-radius: 25px;
  color: rgb(54, 51, 62);
  background-color: rgba(236, 235, 238, 255);

  position: fixed;
  top: 80%;
  left: -5%;
  transform: translate(-50%, -50%);
}


.select1 li {

  font-size: 20px;
  padding-top: 10px;
  text-align: center;
  list-style-type:none;
  font-family: "Roboto", sans-serif;
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.select1 ul {

  padding-top: 30px;

}

.select1 h2{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

.paybuttons img{
  padding-top: 7px;
}
.select2 li {

  font-size: 20px;
  padding-top: 10px;
  text-align: center;
  list-style-type:none;
  font-family: "Roboto", sans-serif;
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.select2 ul {

  padding-top: 30px;

}

.saukstas p {
  margin-top: 50px;
  color: black;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  position: fixed;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
  

}



















/* ENGINE */
.selectimageb img {
  width: 800px;
  height: auto;
  float: left;
  position:fixed;
  top: 55%;
  left: 40%;
  transform: translate(-50%, -50%);
  /* border-style: dashed; */
  border-radius: 10%;
  
}
.engbutblue {
  background-color: rgb(4, 4, 185);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 60px;
}
.engbutblue:focus{
  border-style:solid;
  border:4px solid #3e6ae1;
}
.engbutred {
  background-color: rgb(187, 3, 3);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 120px;
}
.engbutred:focus{
  border-style:solid;
  border:4px solid #3e6ae1;
}
.engbutgreen {
  background-color: rgb(1, 102, 1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 180px;
}
.engbutgreen:focus{
  border-style:solid;
  border:4px solid #3e6ae1;
}

.engText{
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}
.engText h1{
  font-size:20px;
  text-transform:none;
}

.engText a {
  margin-top: 25px;
}




/* FADE IN EFFECTS */
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}