*
{
    margin: 0; padding: 0;
}

.index
{   
    
    background-image: url(assets/ms-homepage-desktop.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.configure
{   
    
    background-image: white;
    height: 100vh;
    background-size: cover;
    background-position: center;
}


.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-right: 30px;
}

.main-nav li
{
    display: inline-block;

}

.main-nav li a
{
    color:  rgb(54,51,62);
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;

}

.main-nav li.active a
{
    border: solid  rgb(54,51,62) 1px;
}


.logo img
{
    width: 150px;
    height: auto;
    float: left;
    padding-left: 20px;
    padding-top:  20px;
}

.row
{
    max-width: 1200px;
    margin: auto;
}

body
{
    font-family: Roboto;
}

.hero
{   
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);

}

h1
{
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.button
{
    margin-top: 20px;
    margin-left: 70px;

}

.btn
{
    padding: 10px 30px;
    font-family: "Roboto", sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    text-decoration: none;
    border-radius: 25px;
}

.btn-one
{
    color: rgb(54,51,62);
    background-color: rgba(236,235,238,255);
}

.btn-two
{   color: rgba(236,235,238,255);
    background-color: rgb(54,51,62);
}

/* Configure Puslapio Dalis */

.engineselectimage img
{
    width: 800px;
    height: auto;
    float: left;
    position: fixed;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);

}

.heroconfigure
{   
    position: fixed;
    top: 30%;
    left: 75%;
    transform: translate(-50%, -50%);
    border: 1px;
    color: black;

}

.heroconfigure h1
{   
    color: black;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    font-family: "Roboto", sans-serif;

}

.buttonconfigure1
{
    margin-top: 30px;
    margin-left: 90px;
}
.buttonconfigure2
{
    margin-top: 30px;
    margin-left: 85px;
}


.btnconfigure
{
    padding: 10px 30px;
    font-family: "Roboto", sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    text-decoration: none;
    border-radius: 25px;
}

.btnconfigure-one
{
    
    color: rgb(54,51,62);
    background-color: rgba(236,235,238,255);
    
}
.btnconfigure-two
{
    
    color: rgb(54,51,62);
    background-color: rgba(236,235,238,255);
}

.simplebutton
{
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 300px;
}